/*=============================================
=                   FUENTES                   =
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

$fontAguafina: "Aguafina Script", "cursive";
$fontPoiret: "Poiret One", sans-serif;
$fontTimes: 'Times New Roman', Times, serif;

/*=============================================
=                  COLORES                   =
=============================================*/
$fondoBody: #faebd7;
$fondoBodyDark: rgb(1, 26, 67);
$colorFondoInicio: antiquewhite;
$colortransp: rgba(244, 243, 242, 0.724);
$colortranspdark: rgb(1, 26, 0.724);
$colorBoreder: #304C89;
$colorHoverNav: rgb(248, 229, 206);
$colorHoverNavdark: rgb(205, 205, 206);
$colorOverlay: rgba(0, 0, 0, 0.475);
$colorTextOverlay: white; 
$sombraGaleria: 10px 10px 10px rgba(0, 0, 0, 0.244);
$backgroundtooltip: rgba(0, 0, 0, 0.799);
$detallesdark: white;

/*=============================================
=                PLACEHOLDER               =
=============================================*/             
%tarjetas {
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    &:hover {
        box-shadow: $sombraGaleria;
    }
}

%botones {
    border-color: none;
    padding-inline: 2rem;
    border-radius: 5px;
}

%modooscuro {
    body {
        background-color: $fondoBodyDark;
    
        .fondo-titulo {
            background-color: $colortranspdark;
            backdrop-filter: blur(.5px);
        }
        h1 {
            color: $detallesdark;
        }
        header {
            .navbar {
                border: 4px solid $detallesdark;
                
        
                .navbar-nav {
        
                    .nav-item:hover {
                        background-color:$colorHoverNavdark;
                        color: $detallesdark;
                        border: 4px solid $detallesdark;
                    } 
                }
            }
        }
    }
}
/*=============================================
=                   MIXIN                   =
=============================================*/ 
@mixin headers ($background-image,$background-repeat) {
    background-image: $background-image;
    background-size: cover;
    background-repeat: $background-repeat;
    background-position: center center;
    width: 100%;
}

