.paises {
    padding: 3rem;
    align-items: center;

    .subtitulo-pais {
        padding-left: 4rem;
    }

    .card {
        @extend %tarjetas;

        .card_img {
            @include foto_pais(410px)
        }
    }

    
}


