#diccionario {
    height: 100vh;

    .sudtitulo-diccionario {
        text-align: center;
        padding-top: 6rem;
        font-size: 60px;
    } 
    .buscador {
        padding-top: 4rem;
        flex-grow: 1;
    }
}