.galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 6rem 6rem;

    .fotos {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    
        gap: 4rem;

        .foto__item {
            position: relative;
            overflow: hidden;

            border: 3px solid $colorBoreder;
            border-radius: 10px;
            box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.244);

            .pais {
                width: 100%;
                height: 100%;
                
                object-fit: cover;
                object-position: center;
                padding: 0; 

            }
            .foto__overlay {
                position: absolute;
                height: 100%;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $colorOverlay;
                transform: translateY(100%);
                transition:  transform ease 1s;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .foto__text {
                    width: 100%;
                    color: $colorTextOverlay;
                    font-family: $fontTimes;
                    font-size: 25px;
                    text-align: center;
                }
            }
        }
        .foto__item:hover .foto__overlay {
            transform: translateY(0%);
        }
    }
}