footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.media {
    display: flex;
    justify-content: center;
    
    padding: 1rem 8rem;
    gap: 2rem;
    
    .media img {
        max-height: 90px;
    }
}
footer > p {
    justify-self: center;
    text-align: center;
    font-size: 25px;
}

