header {
    grid-area: header;
    

    .navbar {
        font-family: $fontTimes;
        font-size: 40px;
        font-display: auto;
        border: 4px solid $colorBoreder;
        
        backdrop-filter: blur(1.5px);
        align-self: stretch;

        .navbar-nav {
            display: flex;
            justify-content: space-around;
            
            list-style: none;

            .nav-item:hover {
                background-color:$colorHoverNav;
                color: black;
                border: 4px solid $colorBoreder;
                border-radius: 10px;
            } 
        }
    }
    /*=============================================
    =              HEADER INICIO                 =
    =============================================*/ 
    #inicio {
        background-image: url("../multimedia/mapafondo.png");
        background-repeat: no-repeat;
        background-size: cover;
        

        .logo-inicio {
            display: flex;
            justify-content: center;

            .logo-inicio img {
                height: 15rem;
            }
        } 
    }

    /*=============================================
    =              HEADER PAISES                 =
    =============================================*/ 
    #paises {
        background-image: url("../multimedia/brujula.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .logo {
            max-width: 100%;
            align-self: flex-start;
        }
        .mapamundi {
            max-width: 100%;
            margin: 10px;
            text-align: center;
            
            padding: 2rem 0rem;
        }
    }

    /*=============================================
    =              HEADER IDIOMAS                 =
    =============================================*/ 
    #idioma {
        background-image: url("../multimedia/diccionario.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;

        .fondo-titulo-idiomas {
            background-color: $colortransp;
            backdrop-filter: blur(.1px);
            
            width: 100%;
                
            display: flex;
            flex-direction: column;
            align-items: center;

            .titulo-diccionario {
                padding: 2rem 0rem;
            }
        }
    }
    /*=============================================
    =              HEADER FOTOS                 =
    =============================================*/ 
    #flash {
        background-image: url("../multimedia/rollo-foto.jpg");
        background-size: contain;
    }

    /*=============================================
    =              HEADER CONTACTO               =
    =============================================*/ 
    #contacto {
        background-image: url("../multimedia/mensajeria.png");

        .nosotros-titulo {
            padding: 2rem 0rem;
        }
    }
}