/*=============================================
=                   FUENTES                   =
=============================================*/
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

$fontAguafina: "Aguafina Script", "cursive";
$fontPoiret: "Poiret One", sans-serif;
$fontTimes: 'Times New Roman', Times, serif;

/*=============================================
=                  COLORES                   =
=============================================*/
$fondoBody: #faebd7;
$colorFondoInicio: antiquewhite;
$colortransp: rgba(244, 243, 242, 0.724);
$colorBoreder: #304C89;
$colorHoverNav: rgb(248, 229, 206);
$colorOverlay: rgba(0, 0, 0, 0.475);
$colorTextOverlay: white; 
$sombraGaleria: 10px 10px 10px rgba(0, 0, 0, 0.244);

 /*=============================================
=                PLACEHOLDER               =
=============================================*/             
%tarjetas {
    height: 100%;
    padding: 2rem;
    border-radius: 10px;
    &:hover {
        box-shadow: $sombraGaleria;
    }
}
/*=============================================
=                   MIXIN                   =
=============================================*/ 


